<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.FileAppender">
    <file value="../Logs/mqpi4.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{ISO8601}Z [%thread] %logger %-5level - %message %exception%newline" />
    </layout>
  </appender>
  
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{ISO8601}Z [%thread] %logger %-5level - %message %exception%newline" />
      </layout>
    </appender>


<!--    <appender name="HttpTraceRollingFileAppender" type="log4net.Appender.RollingFileAppender">-->
<!--      <threshold value="INFO"/>-->
<!--      <file value="../Logs/direct-integrations-api-trace.log" />-->
<!--      <appendToFile value="true" />-->
<!--      <rollingStyle value="Size" />-->
<!--      <maxSizeRollBackups value="0" />-->
<!--      <maximumFileSize value="10MB" />-->
<!--      <staticLogFileName value="true" />-->
<!--      <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json" >-->
<!--        <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />-->
<!--        <member value='log_date:date'/>-->
<!--        <member value='level:level' />-->
<!--        <member value='logger:logger' />-->
<!--        <member value='class_name:class' />-->
<!--        <member value='app_id:di_host_trace' />-->
<!--        <member value='message:messageobject' />-->
<!--        <member value='thread:thread'/>-->
<!--      </layout>-->
<!--    </appender>-->

    <root>
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>

    <logger name="HttpLogger" additivity="false">
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </logger>

</log4net>